/* $gold: #fabc11 */
/* $idk: #27cfb0 */
/* $dark: #179c83 */

body{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}

nav{
    background-color: #27cfb0;
    color: #26292b;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 5;
}

#title{
    font-size: 1.6rem;
}

#title:hover{
    color: #26292b;
}

.nav-item{
    margin: auto 1rem;
    padding: 0.5rem 1rem;
}

.nav-item:hover{
    color: white;
    cursor: pointer;
}

#j-main{
    max-width: 90%;
    z-index: 0;
}

#overlay-header{
    color: black;
    z-index: 1;
    position: absolute;
    top: 10rem;
    text-align: center;
    width: 99%;
    height: auto;
}

#desc-overlay{
    font-size: 2rem;
}

#buy{
    position: absolute;
    top: 65vmin;
    left: 45vw;
    font-size: 1.2rem;
    font-weight: bold;
    color: #07c4a1;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
}

#buy:hover{
    color: white;
    background-color: #27cfb0;
}

a{
    text-decoration: none;
    color: inherit;
}

#products{
    width: 100%;
}

#products-header{
    font-size: 1.8rem;
    background-color: #07c4a1;
    color: #26292b;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
    padding-left: 0.5rem;
}

#cat-header{
    font-size: 1.2rem;
}

#category{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    box-shadow: 0 0 5px #0d4e42;
    color: #26292b;
    margin: 1rem 0;
}

.cat-item{
    padding: 0.5rem 2rem;
    cursor: pointer;
    color: #179c83;
    font-weight: bold;
}

.cat-item:hover{
    color: white;
    background-color: #179c83;
}

#earrings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prod-img{
    max-height: 500px;
    max-width: 400px;
    padding: 1rem;
}

@media only screen and (max-width: 800px) {
    .nav-item{
        margin: auto 1rem;
        padding: 0.5rem 0.05rem;
        font-size: 0.7rem;
    }
    #title{
        font-size: 1.2rem;
        padding-left: 0;
    }
    #overlay-header{
        color: black;
        z-index: 1;
        position: absolute;
        top: 5rem;
        text-align: center;
        width: 90vmin;
        height: auto;
    }
    #desc-overlay{
        font-size: 1.2rem;
    }
    #buy{
        display: none;
    }
    #category{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        box-shadow: 0 0 5px #0d4e42;
        color: #26292b;
        margin: 1rem 0;
    }
    .cat-item{
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        color: #179c83;
        font-weight: bold;
        font-size: 0.9rem;
    }
    #products-header{
        font-size: 1.5rem;
        background-color: #07c4a1;
        color: #26292b;
        width: 99%;
        text-align: left;
        padding: 0.5rem 0;
        padding-left: 0.5rem;
    }
}